pipeline/PL_GET_DATA_CUSTOMERS.json
{
	"name": "PL_GET_DATA_CUSTOMERS",
	"properties": {
		"activities": [
			{
				"name": "CD_AZSQL_ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_AZSQL",
						"type": "DatasetReference",
						"parameters": {
							"Schema": {
								"value": "@pipeline().parameters.Schema",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directry": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "CD_AZSQL_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Json",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directry": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CD_JASON_PARQUET",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "curated",
											"type": "Expression"
										},
										"Directory": {
											"value": "AdventureWorks/Customers/Processar/",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MV_PROCESSADOS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CD_JASON_PARQUET",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@concat('AdventureWorks/Customers/Processados/',formatDateTime(utcnow(),'yyyyMMdd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "MV_PROCESSADOS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{item().name}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "LOG SUCESSO",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CD_JASON_PARQUET",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SP_LOG_CURATED]",
								"storedProcedureParameters": {
									"COPY_DURATION": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DATA_READ": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DATA_WRITTEN": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DT_START": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.executionDetails[0].start",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"FILES_READ": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.filesRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FILES_WRITTEN": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ROWS_COPIED": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ROWS_READ": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"STATUS": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"THROUGHPUT": {
										"value": {
											"value": "@activity('CD_JASON_PARQUET').output.throughput",
											"type": "Expression"
										},
										"type": "Double"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzSql",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "MV_ERRO",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CD_JASON_PARQUET",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@concat('AdventureWorks/Customers/Erro/',formatDateTime(utcnow(),'yyyyMMdd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1_ERRO",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "MV_ERRO",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Directry": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{item().name}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string",
				"defaultValue": "SalesLT"
			},
			"Table": {
				"type": "string",
				"defaultValue": "Customer"
			},
			"Container": {
				"type": "string",
				"defaultValue": "containerraw"
			},
			"Directory": {
				"type": "string",
				"defaultValue": "AdventureWorks/Customers/Processar"
			}
		},
		"folder": {
			"name": "AdventureWorks"
		},
		"annotations": []
	}
}